build
dist / media
node_modules
.DS_Store
.env
.next
next-env.d.ts
.vercel

# Keep media files for deployment
public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
